[submodule "panda"]
  path = panda
  url = ../../AlexandreSato/panda.git
  branch = personal3
[submodule "opendbc"]
  path = opendbc
  url = ../../AlexandreSato/opendbc.git
  branch = brakehold
[submodule "laika_repo"]
  path = laika_repo
  url = ../../commaai/laika.git
[submodule "cereal"]
  path = cereal
  url = ../../AlexandreSato/cereal.git
  branch = personal3
[submodule "rednose_repo"]
  path = rednose_repo
  url = ../../commaai/rednose.git
[submodule "body"]
  path = body
  url = ../../commaai/body.git
[submodule "tinygrad"]
  path = tinygrad_repo
  url = https://github.com/geohot/tinygrad.git
